Repository kimurash/prtimes-hackathon-2025-winter, pull requests merged in 2025-03, with the labels that each got.

#44 認証方法をJWTに変更した
  frontend/src/App.tsx
  frontend/src/api/auth/auth.ts
  frontend/src/api/dreams/mine.ts
  frontend/src/pages/dreams/components/Header.tsx
  frontend/src/pages/dreams/mine/MyDreamCards.tsx
  frontend/src/pages/dreams/mine/MyDreamInput.tsx
  frontend/src/pages/dreams/mine/MyDreamPage.tsx
  frontend/src/pages/login/LoginPage.tsx
Labels: frontend

#48 fixed: jwt authorization
  backend/app.py
  backend/routes/auth.py
  frontend/src/api/dreams/mine.ts
Labels: bug

#50 自分が投稿した夢にはいいねできないようにした
  .github/workflows/swagger.yml
  README.md
  backend/README.md
  backend/routes/auth.py
  frontend/index.html
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/api/auth/auth.ts
  frontend/src/api/dreams/mine.ts
  frontend/src/api/dreams/public.ts
  frontend/src/atoms/userAtom.ts
  frontend/src/pages/dreams/components/Header.tsx
  frontend/src/pages/dreams/mine/MyDreamCards.tsx
  frontend/src/pages/dreams/mine/MyDreamInput.tsx
  frontend/src/pages/dreams/mine/MyDreamPage.tsx
  frontend/src/pages/dreams/public/PublicDreamLikeButton.tsx
  frontend/src/pages/dreams/public/PublicDreamPage.tsx
  frontend/src/pages/login/LoginPage.tsx
  frontend/src/types/user.d.ts
  frontend/tsconfig.app.json
  frontend/vite.config.ts
  openapi.yml
Labels: frontend

#55 APIの仕様書に 4xx 系のレスポンスを追記した
  openapi.yml
Labels: backend

#62 自分の夢の公開 / 非公開を切り替えるAPIを実装した
  README.md
  backend/README.md
  backend/models/dream.py
  backend/routes/my_dream.py
  openapi.yml
Labels: backend

#65 背景に桜のエフェクトをつけました
  frontend/public/assets/react.svg
  frontend/public/assets/s1.png
  frontend/public/assets/s2.png
  frontend/public/assets/s3.png
  frontend/public/assets/s4.png
  frontend/src/App.css
  frontend/src/pages/dreams/components/SakuraEffect.tsx
  frontend/src/pages/dreams/mine/MyDreamPage.tsx
  frontend/src/pages/dreams/public/PublicDreamPage.tsx
Labels: frontend

#66 夢カードのUIを改善した
  README.md
  backend/app.py
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/App.css
  frontend/src/api/dreams/mine.ts
  frontend/src/pages/dreams/components/SakuraEffect.tsx
  frontend/src/pages/dreams/components/SakuraScatterEffect.tsx
  frontend/src/pages/dreams/mine/MyDreamCards.tsx
  frontend/src/pages/dreams/mine/MyDreamDeleteButton.tsx
  frontend/src/pages/dreams/mine/MyDreamInput.tsx
  frontend/src/pages/dreams/mine/MyDreamPage.tsx
  frontend/src/pages/dreams/mine/MyDreamPrivacyButton.tsx
  frontend/src/pages/dreams/public/PublicDreamCards.tsx
  frontend/src/pages/dreams/public/PublicDreamLikeButton.tsx
  frontend/src/pages/dreams/public/PublicDreamPage.tsx
Labels: frontend
