Repository kimurash/prtimes-hackathon-2025-winter, pull requests merged in 2025-02, with the labels that each got.

#2 ログインページの実装
  README.md
  frontend/.env.sample
  frontend/.gitignore
  frontend/README.md
  frontend/eslint.config.js
  frontend/index.html
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/api/auth.ts
  frontend/src/assets/react.svg
  frontend/src/main.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/vite-env.d.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: frontend

#6 Back login screen
  backend/app.py
  backend/createuser.py
  backend/models/user_model.py
  backend/routes/auth.py
Labels: backend

#4 自分の夢を追加・閲覧できるページの実装
  .github/PULL_REQUEST_TEMPLATE.md
  frontend/.gitignore
  frontend/src/App.tsx
  frontend/src/pages/dreams/mine/MyDreamCards.tsx
  frontend/src/pages/dreams/mine/MyDreamInput.tsx
  frontend/src/pages/dreams/mine/MyDreamPage.tsx
  frontend/src/pages/login/LoginPage.tsx
Labels: frontend

#10 CORSの設定をした
  backend/.gitignore
  backend/README.md
  backend/app.py
  backend/routes/auth.py
Labels: backend

#20 公開されている夢を閲覧する画面のフロントエンドとバックエンドの接続
  backend/models/dream_models.py
  frontend/src/App.tsx
  frontend/src/api/dream.ts
  frontend/src/api/dreams/public.ts
  frontend/src/pages/dreams/components/Header.tsx
  frontend/src/pages/dreams/public/PublicDreamPage.tsx
Labels: frontend, backend

#22 ハリボテログイン画面の実装
  frontend/src/pages/login/LoginPage.tsx
Labels: frontend

#25 READMEを書いた
  README.md
  backend/README.md
  backend/models/dream.py
  backend/models/user.py
  backend/routes/auth.py
  backend/routes/dream.py
  backend/routes/public_dream.py
  backend/seeds/dreams.sql
  backend/seeds/users.py
  backend/seeds/users.sql
Labels: documentation, backend

#31 モーダルにSNSでシェアするボタンを追加した
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/pages/dreams/mine/MyDreamCards.tsx
Labels: enhancement, frontend

#36 自分の夢を削除できるようにした
  frontend/src/api/dreams/mine.ts
  frontend/src/pages/dreams/mine/MyDreamCards.tsx
  frontend/src/pages/dreams/mine/MyDreamInput.tsx
  frontend/src/pages/dreams/mine/MyDreamPage.tsx
Labels: frontend
